### IntelliJ IDEA ###
out/
!lab2/src/main/**/out/
!lab2/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!lab2/src/main/**/bin/
!lab2/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

*.class
*.log
target/
/gradlew.bat
/gradlew
/gradle/
